.chart-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 12px 0;
}
.chart-grid ul {
  list-style: none;
  padding-left: 24px;
}
.chart-grid ul li {
  margin: 3px 0;
  position: relative;
}
.rightAligned {
  float: right;
  margin-left: 24px;
}
span.bullet {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}